<!doctype html>
<html ng-app="estudosApp">
  <head>
    <meta charset="utf-8">
    <title>{{titulo}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
   
    <link rel="stylesheet" href="styles/main.css">
   
     <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" >
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
    <script type="text/javascript">
     
      angular.module("estudosApp",[]).run(function($rootScope){
        $rootScope.titulo = "Estudos";
        $rootScope.nome = "Taynara";
      })

      .controller('MeuController',function($rootScope,$http){
        var ctrl = this;
        ctrl.titulo = 'Painel';


        ctrl.mudarTitulo= function(sNome)
        {
          if(sNome){
            ctrl.titulo = sNome;
          }
          else{
            ctrl.titulo = Math.random(Math.random() * 0.10000,0);
          }
          ctrl.nome = $scope.titulo;
        }
        

      })
      .controller('ListaController',function($rootScope,$http){
        
        var ctrl = this;
        ctrl.titulo = 'Lista';

        ctrl.listanome = ['Roger', 'Eduardo', 'João'];
    

      });
    </script>    
    <!-- endbuild -->
  </head>
  <body>
  

    <div class="container">
  
    <div class="jumbotron">
      <h1>{{titulo}} - {{nome}}</h1>
      
    
        
      </div><!-- /.row -->
    </div>
    
    <div class="panel panel-default" ng-controller="MeuController as pc1">
      <div class="panel-heading">{{pc1.titulo}}</div>
      <div class="panel-body">
        <button class="btn btn-primary" ng-click="pc1.mudarTitulo();">
      Novo Título
    </button>
     <div class="panel panel-default" ng-controller="ListaController as lc1">
      <div class="panel-heading">{{lc1.titulo}}</div>
      <div class="panel-body">
        <ul>
          <li  ng-repeat="nome in lc1.listanome" ng-click="lc1.mudarTitulo(nome);">
            {{nome}}
          </li>
        </ul>
      </div>
   
    </div> 
      </div>
    </div>  
     <div class="panel panel-default" ng-controller="MeuController as pc2">
      <div class="panel-heading">{{pc2.titulo}}</div>
      <div class="panel-body">
        <button class="btn btn-primary" ng-click="pc2.mudarTitulo();">
      Novo Título
    </button>
      </div>
    </div> 
     
    
     
 

    


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

</body>
</html>
